# Python
__pycache__/
*.py[co]

# Packaginmg
build/
dist/
wheels/
*.egg*

# Editor temp files
*~

# Ignore dot files / directories except those required for the project
.*
!.envrc
!.gitignore
!.python-version
